<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main>
    <h1 class="username">Welcome user <%=user_id%> 👋</h1>
    <div class="quiz-list">
      <% for(let quiz of quizzes) { %>
        <div class="quiz-area">
          <div class="quiz-box">
            <h2 class="quiz-title">
              <%= quiz.title %>
            </h2>
            <div class="quiz-description">
              <%= quiz.description %>
            </div>
          </div>
            <form class="quiz-buttons">
              <button><a href="/quiz/<%=quiz.id%>">Attempt</a></button>
              <button class="share" data-clipboard-text="/quiz/<%=quiz.id%>">Share</button>
            </form>
        </div>
      <% } %>


    </div>
  </main>

</body>

</html>
