<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include("partials/_header') %>
  </header>
  <h1>Have fun! 🥔</h1>
  <main>
    <h1>Quiz Maker</h1>


    <form method="POST" action= "/submitattempt" >
      <% const string = ""; %>
      <% for (let data in quizInput) { %>
          if (data.question === string) { %>
            <div class="answers">
              <input type="radio" name="<%= data.question_id%>" value="<%= data.id%>"><%= data.answer %></input>
            </div>
            <% } else { %>
              <% string = data.question %>
              <h3 class="question"><%= string %></h3>
            <div class="answers">
              <input type="radio" name="<%= data.question_id%>" value="<%= data.id%>"><%= data.answer %></input>
            </div>
            <% } %>
            <% } %>
            <button class="btn-primary" type="submit"> Submit Quiz</button>


        <p>
          <input type="radio" name="size" id="size_1" value="small">
          <label for="size_1">Small</label>
        </p>
        <p>
          <input type="radio" name="size" id="size_2" value="medium">
          <label for="size_2">Medium</label>
        </p>
        <p>
          <input type="radio" name="size" id="size_3" value="large">
          <label for="size_3">Large</label>
        </p>
      <input type="submit" value="Submit">
    </form>
  </main>

</body>

</html>
